.contain {
  height: 100vh;
}
.registration-content {
  background-color: #fff;
  width: 70%;
  height: auto;
  /* margin: 0 auto; */
  /* overflow: hidden; */
  padding: 0;
  display: flex;
  border-radius: 10px;
  font-family: tahoma;
}
.registration-image {
  width: 50%;
}
.registration-image img {
  width: 95%;
  height: 100%;
  object-fit: fill;
}
.registration-form {
  width: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  */
}
.registration-form h2 {
  text-align: center;
  margin: 30px 0 20px 0;
  font-weight: 500;
  font-family: tahoma;
  font-size: 25px;
  letter-spacing: 2px;
  @media screen and (max-width: 980px) {
    font-size: 20px;
  }
}
.registration-form .input-pv {
  width: 93%;
}
.pv-submit {
  display: flex;
  justify-content: center;
}
.btn-pv-submit {
  /* width: 30%; */
  font-size: 20px;
  font-weight: 500;
  padding: 8px 20px;
  margin-bottom: 15px;
}
.signature {
  width: 100%;
  height: auto;
  border: 2px solid #dee2e6;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 5px;
}

.sign-img {
  border: 2px solid #dee2e6;
  height: auto;
  max-height: 100px; 
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.sign-img img {
  max-width: 100%; /* Ensure the image does not exceed its container */
  max-height: 100%; /* Ensure the image does not exceed its container */
}

@media screen and (max-width: 780px) {
  .registration-image {
    display: none;
  }
  .registration-form {
    width: 100%;
    padding-left: 40px;
  }
}
